table, tr {
    width: 100%;
}
table, td {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    text-align: center;
    font-family: 'Verdana';
    padding: 17px 0 17px 0;
    width: 33%;
}
@media print {
  .new-page {
    page-break-before: always;
  }
}
@media print {
    .keep-together {
        page-break-inside: avoid;
    }
}
.keep-together {
    position: relative;
}
.keep-together > img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
}