/* These styles control the styling of the individual cards */
/* Only change these if you kinda know what you're doing */
.card > img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
}
.card > .first_name {
}
.card > .find {
}
.card > .final_name {
    font-weight: 800
}
.card > .rutherford {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.7em;
    color: #a0a0a0;
    font-family: 'Verdana';
    padding: 2px;
}
.card > .help {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.6em;
    color: #a0a0a0;
    font-family: 'Verdana';
    padding: 2px;
}


/* ############################################### */
/* ############################################### */


/* This section is for the styling of the table and other assorted stylings */
/* DO NOT CHANGE THESE */

table, tr {
    width: 100%;
}
table, td {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    text-align: center;
    font-family: 'Verdana';
    padding: 17px 0 17px 0;
    width: 33%;
}
@media print {
  .new-page {
    page-break-before: always;
  }
}
@media print {
    .keep-together {
        page-break-inside: avoid;
    }
}
.keep-together {
    position: relative;
}
.keep-together > img {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2px;
}