<!-- The HTML script for an individual card. All you should need to change here are the dates, email, etc. -->

<!-- 
Variable names you have access too:
(Type these in anywhere in the HTML bellow and it will automatically fill in)

{FIRSTNAME} = firstname of the student
{LASTNAME} = lastname of the student
{FULLNAME} = fullname of the student
{TUTOR} = tutor of the student
{YEAR} = year level of the student

{FIRSTNAME_TARGET} = firstname of the student's target
{LASTNAME_TARGET} = lastname of the student's target
{FULLNAME_TARGET} = fullname of the student's target
{TUTOR_TARGET} = tutor of the student's target
{YEAR_TARGET} = year level of the student's target
-->
<td class="keep-together card">
    <img src="staticfiles/kotuku.png" width="26" height="21">
    <span class="rutherford">RC Mayhem 2019</span>
    <span class="first_name">{FULLNAME},</span><br>
    <span class="find">find</span><br>
    <span class="final_name">{FULLNAME_TARGET}</span>
    <span class="help">Stuck? rcmayhem2019@gmail.com</span>
</td>